@import './colors.scss';

* { all: unset;
}

.bar-container {
    border-radius: 10px;
    background-color: $Mantle;
    padding: 5px 10px;
    margin: 10px 10px 0px 10px;
}
.bar {
 background-color: transparent;
 font-size: small;
 font-weight: bold;
 color: $Text;
}

.workspaces{
    border-radius: 8px;
    background-color: $Surface0;
    padding: 0px 5px
}
.workspaces button{
    margin: 3px 2px;
    padding: 2px 5px;
    border-radius: 8px;
}

.workspaces button:hover{
    background-color: $Overlay0;
}

.workspaces button:active{
    background-color: $Green;
}

.workspaces button.focused {
    background-color: $Overlay0;
    border-bottom: 3px solid $Green;
}

.client-title {
    margin-left: 1em;
    color: $Overlay2;
}

.notification image {
    color: yellow;
    margin-left: 1em;
}

.battery progressbar {
    margin: 0 6px;
    background-color: $Sapphire;
}

.clock {
    border-radius: 8px;
    background-color: $Surface0;
    padding: 0px 10px;
}


trough {
    background-color: $Surface0;
    border-radius: 8px;
    
    highlight {
        background-color: $Sapphire;
        min-height: 5px;
        border-radius: 8px;
        border: 2px solid $Teal;
    }
}