* {
  all: unset; }

.bar-container {
  border-radius: 10px;
  background-color: #181825;
  padding: 5px 10px;
  margin: 10px 10px 0px 10px; }

.bar {
  background-color: transparent;
  font-size: small;
  font-weight: bold;
  color: #cdd6f4; }

.workspaces {
  border-radius: 8px;
  background-color: #313244;
  padding: 0px 5px; }

.workspaces button {
  margin: 3px 2px;
  padding: 2px 5px;
  border-radius: 8px; }

.workspaces button:hover {
  background-color: #6c7086; }

.workspaces button:active {
  background-color: #a6e3a1; }

.workspaces button.focused {
  background-color: #6c7086;
  border-bottom: 3px solid #a6e3a1; }

.client-title {
  margin-left: 1em;
  color: #9399b2; }

.notification image {
  color: yellow;
  margin-left: 1em; }

.battery progressbar {
  margin: 0 6px;
  background-color: #74c7ec; }

.clock {
  border-radius: 8px;
  background-color: #313244;
  padding: 0px 10px; }

trough {
  background-color: #313244;
  border-radius: 8px; }
  trough highlight {
    background-color: #74c7ec;
    min-height: 5px;
    border-radius: 8px;
    border: 2px solid #94e2d5; }
