window#waybar{
    border-radius: 10px;
    color: #cdd6f4;
    background-color: #181825;
    padding: 10px;
}

.modules-right{
    background-color: #313244;
    border-radius: 10px;
    padding: 0px 8px;
    margin: 5px 5px; 
}

#tray,#pulseaudio,#network,#cpu,#memory,#temperature,#backlight, #battery{
    padding: 0px 8px;
}
#battery{
    padding: 0px 12px 0px 8px;
}
#workspaces{
    background-color: #313244;
    border-radius: 10px;
    padding: 0px 8px;
    margin: 5px 5px;
}
#window {
    color: #7f849c;
    font-weight: 500;
}
#workspaces button {
    padding: 0 5px;
    color: #cdd6f4;
}
#custom-launcher {
    font-size: larger;
    color: #89dceb;
    padding: 0px 8px; 
}
#custom-menu {
    font-size: larger;
    padding: 0px 8px; 
}
#workspaces button:hover {
    background-color: #a6e3a1;
    background: none;
    border: none;
}

#workspaces button.active {
    color: #a6e3a1;
}
#clock {
    background-color: #313244;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 5px 5px;
    font-weight: 600;
}
#cpu,#memory,#temperature {
    font-weight: 600;
    margin: 3px 5px;
    padding: 0px 10px;
    border-radius: 8px;
    color: #45475a;
}
#cpu{
    background-color: #b4befe;

}
#memory{
    background-color: #cba6f7;

}
#temperature{
    background-color: #f2cdcd;

}